<li data-id="{{}}" class="comment">
	<a class="pull-left" href="#">
		<img class="avatar" src="http://bootdey.com/img/Content/user_3.jpg" alt="avatar">
	</a>
	<div class="comment-body">
		<div class="comment-heading">
			<h4 class="user">NAME</h4>
			<h5 class="time">X minutes ago</h5>
		</div>
		<p>{{text}}</p>
		<span class="span-link show-reply-box">reply</span>
		<div>
			<span class="span-link view-more-replies"><i class="fa fa-angle-double-down" aria-hidden="true"></i> {{num_replies}} replies</span>
		</div>
		<ul class="comments-list"></ul>
		<div class="reply-box">
		<form action="/posts/' + postId + '/reply" method="post"> <input type="text" hidden name="parent" value="' + commentId + '"><div class="input-group"><input class="form-control" placeholder="Nhập bình luận ..." type="text" name="text"> <span class="input-group-addon  span-link send-reply"> <i class="fa fa-send"></i> </span> </div> </form>
		</div>
</div>
</li>

{{!-- old --}}
<div class="row">
<form action="/posts/{{post._id}}/comment" method="post">
	<label>Enter comment</label>
	<input type="text" name="text">
	<button type="submit">Send</button>
</form>
</div>
<div class="row">
<h1>List Comments</h1>
<ul>
	{{#each comments}}
	<li>
		<span>{{text}}</span>
		<form action="/posts/{{post}}/reply" method="post">
			<input type="text" name="text">
			<input type="text" hidden name="parent" value="{{_id}}">
			<button>reply</button>
		</form>
		{{#if replies.length}}
		<ul>
			{{#each replies}}
			<li>
				<span>{{text}}</span>
				<form action="/posts/{{post}}/reply" method="post">
					<input type="text" name="text">
					<input type="text" hidden name="parent" value="{{_id}}">
					<button>reply</button>
				</form>
			</li>
			{{/each}}
		</ul>
		{{/if}}
	</li>
	{{/each}}
</ul>
</div>