<div class="jumbotron">
	<h1>Create a post</h1>
</div>
<div class="row">
	<div class="alert alert-danger">{{msg}}</div>
	<form action="/create" method="post">
		<label>Name</label>
		<input type="text" name="name">
		<button type="submit">Create</button>
	</form>
</div>