{{#section 'css'}}
<style>
form {display: inline;}
</style>
<link rel="stylesheet" type="text/css" href="/css/post.css">
{{/section}}
{{#section 'js'}}
<script type="text/javascript" src="/js/post.js"></script>
{{/section}}
<div class="jumbotron">
	<h1>{{post.name}}</h1>
</div>
<span hidden id="postId">{{post._id}}</span>
<div class="row alert alert-danger">{{msg}}</div>
<div class="row">
	<div class="post-footer">
		<form id="form-comment" action="/ajax/posts/{{post._id}}/comment" method="post">
			<div class="input-group">
				<input class="form-control" placeholder="Nhập bình luận ..." type="text" name="text">
				<span class="input-group-addon span-link send-comment">
					<i class="fa fa-send"></i>
				</span>
			</div>
		</form>
		<ul class="comments-list">
			
		</ul>
	</div>
</div>